{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>На данный момент рука не поднимается написать о том, что я что-то поняла и освоила.
       С началом четвертого спринта появилось четкое ощущение того, что я обнулилась, и не помню ничего из того, что проходила ранее.
    </p>
  </article>
</div>
{% endblock %} 
